.fugo-contact-info{
  margin-top: 55px;
  @include max(991px) {
    margin-top: 30px;
  }
  ul{
    li{
      position: relative;
      padding-left: 65px;
      margin-bottom: 30px;
      &:last-child{
        margin-bottom: 0;
      }
      a{
        h5{
          font-weight: 600;
          margin-bottom: 5px;
        }
        color: rgba(2, 2, 30, 0.8);
        .fugo-contact-info-icon{
          width: 50px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 100%;
          position: absolute;
          left: 0;
          top: 5px;
          background-color: var(--warning-500);
        }
      }
    }
  }
}

.fugo-contact-wrap {
  background: #FFFFFF;
  box-shadow: 0px 4px 80px rgb(0 0 0 / 6%);
  border-radius: 5px;
  padding: 40px;
  @include max(991px) {
    padding: 30px;
    margin-top: 30px;
  }
}
.fugo-input-field{
  label{
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
    color: var(--gray-800);
  }
}
#map{
  width: 100%;
  height: 550px;
  @include max(991px) {
    height: 450px;
  }
  @include max(767px) {
    height: 300px;
  }
}