
// app section
.fugo-apps-thumb {
    position: relative;
    transform: rotate(-5deg);
    margin-left: 60px;
    @include max(1200px) {
        margin: 0;
    }
    @include max(991px) {
        margin: 0 0 50px;
        text-align: center;
        transform: none !important;
    }
}
.fugo-apps-thumb{
    &.fugo-apps-thumb2{
        transform: rotate(-5deg)
    }
}
.fugo-shape3 {
    position: absolute;
    top: 0;
    z-index: -1;
    left: 6%;
    @include max(1650px) {
        left: -5%;
    }
    @include max(1199px) {
        left: -12%;
    }
    @include max(991px) {
        left: 5%;
    }
    @include max(767px) {
        display: none;
    }
}

