// feature section
.fugo-feature-section{
    padding: 110px 0 96px;
    background-color: var(--warning-400);
    @include max(991px) {
        padding: 95px 0 76px;
    }
    @include max(767px) {
        padding: 75px 0 56px;
    }
}