{% extends "layout/layout.html" %} {% block content %}

{% include "../templates/layout/header-footer/header-one.html" %} 


<div class="fugo-hero-section">
  <div class="container">
    <a class="fugo-btn" href="contact.html">
      Get Started
    </a>
  </div>
</div>

Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit voluptates nisi unde quos debitis neque odit quia eaque tempore minus in fugit repudiandae repellat, at dolor, quod harum similique quisquam qui dolores id rem numquam quae? Magni architecto culpa illo atque at, dolores saepe vel, quas dolore expedita fugiat, consequatur excepturi. Reiciendis magni exercitationem inventore unde incidunt ab debitis facere magnam iure iusto quas totam error aliquid voluptates, quia, fugiat quam asperiores ea, architecto a tempore sed. Minus ut sed facere corrupti aut voluptates totam, dolorem veritatis architecto quibusdam nam eius possimus, aliquid tenetur libero quos et tempora perspiciatis odio.

{% include "../templates/layout/header-footer/footer-one.html" %} 
  
{% endblock %}
