{% extends "layout/layout.html" %} {% block content %}

{% include "../templates/layout/header-footer/header-two.html" %} 

<div class="fugo-hero-section2">
  <div class="container">
    <div class="fugo-hero-content fugo-hero-content2">
      <h1>The leading platform for cryptocurrency traders</h1>
      <p>We offer a full-fledged long-term rental platform to cryptocurrency users. It plans to use blockchain technology to ensure a secure seamless rental experience.</p>
      <div class="fugo-hero-btn-wrap">
        <a class="fugo-btn fugo-round-btn active"href="contact.html">Get Started</a>
        <a class="fugo-btn fugo-round-btn" href="contact.html">How to Buy & Sell</a>
      </div>
    </div>
  </div>
  <div class="fugo-hero-shape4">
    <img src="assets/images/shape/shape3.png" alt="">
  </div>
  <div class="fugo-hero-shpae5">
    <img src="assets/images/shape/shape4.png" alt="">
  </div>
</div>
<!-- End hero section -->

<div class="fugo-single-thumb-section">
  <div class="container">
    <div class="fugo-single-thumb">
      <img src="assets/images/all-img/v2/hero-thumb.png" alt="">
    </div>
  </div>
</div>


{% include "../templates/layout/header-footer/footer-two.html" %} 
  
{% endblock %}