input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="time"],
input[type="date"],
input[type="search"],
input, textarea {
  margin: 0;
  width: 100%;
  height: 60px;
  color:  var(--gray-800);
  border-radius: 10px;
  background-color: transparent;
  padding: 15px 30px !important;
  border: none!important;
  transition: all 0.4s;
  border: 1px solid var(--gray-700)!important;
}
input:focus, textarea:focus{
  border: 1px solid var(--warning-500)!important;
}
textarea {
  height: 150px;
  resize: none;
  @include max(767px) {
    height: 100px;
  }
}

input::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder{ /* WebKit, Blink, Edge */
    color:    var(--gray-800);
    opacity: 0.6;
}
input:-moz-placeholder, 
textarea:-moz-placeholder{ /* Mozilla Firefox 4 to 18 */
   color:    var(--gray-800);
   opacity:  0.6;
}
input::-moz-placeholder, 
textarea::-moz-placeholder{ /* Mozilla Firefox 19+ */
   color:    var(--gray-800);
   opacity:  0.6;
}
input:-ms-input-placeholder, 
textarea:-ms-input-placeholder{ /* Internet Explorer 10-11 */
   color:    var(--gray-800);
   opacity: 0.6;
}
input::-ms-input-placeholder, 
textarea::-ms-input-placeholder{ /* Microsoft Edge */
   color:    var(--gray-800);
   opacity: 0.6;
}

input::placeholder, 
textarea::placeholder{ /* Most modern browsers support this now. */
   color:    var(--gray-800);
   opacity: 0.6;
}


// all newsletter
.fugu-newsletter {
  max-width: 555px;
  position: relative;
  margin: 0 auto;
  input{
    padding: 15px 185px 15px 30px!important;
    @include max(575px) {
      padding: 15px 30px!important;
    }
  }
  p{
    font-size: 14px;
    margin-top: 20px;
    color: rgba(19,17,26,.5);
  }

}

#fugu-submit-btn{
  font-weight: 700;
  width: 175px;
  height: 50px;
  right: 5px;
  top: 5px;
  font-size: 16px;
  transition: all 0.4s;
  border-radius: 10px;
  position: absolute;
  color: var(--gray-800);
  background-color: var(--warning-500);
  &:hover{
    color: var(--gray-10);
    background-color: var(--gray-800);
  }
  @include max(575px) {
    position: inherit;
    width: 100%!important;
    margin-top: 10px;
    right: 0;
    top: 0;
}
}
