.fugo-social-icon{
  margin-top: 30px;
  ul{
    display: flex;
    li{
      margin: 0 7.5px;
      display: inline-block;
      &:first-child{
        margin-left: 0;
      }
      &:last-child{
        margin-right: 0;
      }
      a{
        width: 30px;
        height: 30px;
        display: flex;
        z-index: 0;
        color: white;
        font-size: 12px;
        border-radius: 100%;
        align-items: center;
        position: relative;
        overflow: hidden;
        transition: all 0.4s;
        justify-content: center;
        background-color: var(--gray-900);
        &:hover{
          color: var(--gray-800);
          background-color: var(--warning-500);
        }
      }
    }
  }
}

.fugo-social-icon2{
  ul{
    li{
      margin: 0 2px;
      display: inline-block;
      &:first-child{
        margin-left: 0;
      }
      &:last-child{
        margin-right: 0;
      }
      a{
        path{
          fill: var(--gray-800);
          transition: all 0.4s;
        }
        &:hover path{
          fill: var(--warning-500);
        }
      }
    }
  }
}

.fugo-social-icon3{
  position: absolute;
  right: 30px;
  top: 30px;
  @include max(767px) {
    top: 50px;
  }
  ul{
    li{
      display: inline-block;
      margin-right: 10px;
      &:last-child{
        margin-right: 0;
      }
      a{
        path{
          fill: var(--gray-800);
        }
      }
    }
  }
}



