
.fugo-video-thumb{
  position: relative;
  img{
    width: 100%;
    height: 100%;
  }
  @include max(991px) {
    margin-bottom: 50px;
  }
}
a.fugo-popup, 
.fugo-play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a.fugo-popup img{
  -webkit-animation: rotate-animation 10s infinite linear;
  -moz-animation: rotate-animation 10s infinite linear;
  -o-animation: rotate-animation 10s infinite linear;
  animation: rotate-animation 10s infinite linear;
  &:hover{
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
  }
  @include max(991px) {
    width: 90px;
  }
  @include max(767px) {
    width: 75px;
  }
}
.fugo-play-btn img{
  animation: none!important;
  width: auto!important;
}
@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.nexto-video-wrap .nexto-popup img {
  -webkit-animation: rotate-animation 10s infinite linear;
  -moz-animation: rotate-animation 10s infinite linear;
  -o-animation: rotate-animation 10s infinite linear;
  animation: rotate-animation 10s infinite linear;
}

// video 2
.fugo-video-thumb2{
  border-radius: 10px;
  overflow: hidden;
  margin: 0;
  &:before{
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(180deg, #724FE5 0%, #32E7B1 34.38%, #FFFFFF 100%);
    mix-blend-mode: multiply;
    border-radius: 10px;
    transform: matrix(1, 0, 0, -1, 0, 0);
  }
}

.fugo-video-thumb3{
  margin: 0;
}