<!-- Footer  -->

<footer class="fugo-footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="fugo-textarea">
                    <div class="fugo-footer-logo">
                        <img src="assets/images/logo/logo-white.svg" alt="" class="light-version-logo">
                    </div>
                    <p>Cryptocurrency trading is offered through an account with the fugu crypto app. Our simplified zero commission pricing for use stocks.</p>
                    <p class="fugo-copywright">&copy; Copyright 2022, All Rights Reserved by Mthemeus</p>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1 col-md-4 col-sm-4">
                <div class="fugo-footer-menu">
                    <span>Product</span>
                    <ul>
                        <li><a href="">Invest</a></li>
                        <li><a href="">Crypto</a></li>
                        <li><a href="">Cash Card</a></li>
                        <li><a href="">Learn</a></li>
                        <li><a href="">Snacks</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4">
                <div class="fugo-footer-menu fugo-custom-margin">
                    <span>Company</span>
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Careers</a></li>
                        <li><a href="">Blog</a></li>
                        <li><a href="">Blog post</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4">
                <div class="fugo-footer-menu">
                    <span>Contact</span>
                    <ul>
                        <li><a href="">+088-234-6534</a></li>
                        <li><a href="">example@gmail.com</a></li>
                    </ul>
                </div>
                <div class="fugo-social-icon">
                    <ul>
                        <li>
                            <a href="">
                                <i class="icon-twitter"></i>                                       
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="icon-facebook"></i>                                       
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="icon-instagram"></i>                                       
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="icon-github"></i>                                       
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>